<div class="content">
    <h3>Notes description</h3>
    <div *ngFor="let data of notes">
        <p *ngIf="!addMode">{{data.description}}</p>
    </div>
    <form #myForm="ngForm" *ngIf="addMode" (ngSubmit)="notesCreate(myForm.value)">
        <input type="text" placeholder="Note name" name="title" ngModel >
        <input type="text" placeholder="description" name="description" required ngModel>
        <input type="date" placeholder="date" name="date" ngModel>
        <!-- <button (click)="notesCreate(myForm.value)">Add</button> -->
        <input type="submit" value="Add note">
    </form>
</div>
