<div class="content">
    <h3>Notes description</h3>
    <div *ngFor="let data of notes">
        <span *ngIf="!addMode">
            <p >{{data?.description}}</p>
            <p>{{data?.id}}</p>
            <button (click)="onDelete(data.id)">Delete</button>
            <button (click)="onEdit(data.id)">Edit</button>
        </span>
    </div>
    <form #myForm="ngForm"  (ngSubmit)="notesCreate(myForm.value)">
        <input type="text" placeholder="Note name" name="title" ngModel>
        <input type="text" placeholder="description" name="description" ngModel>
        <input type="date" placeholder="date" name="date" ngModel>
        <!-- <button (click)="notesCreate(myForm.value)">Add</button> -->
        <input type="submit" value="{{updateMode ? 'Update Note' : 'Add Note'}}">
    </form>
</div>
