.container{
    margin: 60px 20px;
    padding: 10px;
    display: flex;
    width: 80%;
    background-color: green;
    justify-content: space-around;
    height: 300px;
}

.notescontainer {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}