<nav class="bg-gray-800 shadow-sm">
    <div class="max-w-7xl mx-auto px-5">
        <div class="flex justify-between items-center py-4">
            <div class="w-1/6 flex justify-between">
                <a routerLink="" class="text-white">My Web</a>
                <a routerLink="/add" class="text-white">Add</a>
            </div>
            
            <input type="text" class="w-1/2 rounded-md">
            <div>
                <a href="" class="text-white">Login</a>
            </div>
        </div>
    </div>
  </nav>